html{
  scroll-behavior: smooth;
}

@keyframes breathe{
  from {
    scale: 1;
  }
  to {
    scale: 0.90;
  }
}

@keyframes swing{
  0%{
    transform: rotate(0deg);
  } 
  50%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}