.page-section{
  min-height: 100vh;
  width: 100vw;

  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(124,86,204,0.5) 35%, rgba(159,82,178,0.6) 50%, rgba(124,86,204,0.5) 65%, rgba(0,0,0,0) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 10vh;

  gap: 10px;
}

#hero-section {
  padding-top: 0;
}

.page-section>h1{
  font-size: 2em;

  animation: 3s ease-in-out 0s infinite alternate breathe;
  
  color: white;
}