.project-card{
  height: min-content;
  width: 200px;

  padding: 1em;
  border: white solid 0.2em;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  flex: 5;
}

.project-card:hover{
  color: rgb(208, 143, 255);
  border-color: rgb(208, 143, 255);
}

.project-card img{
  width: 170px;
  height: 120px;
  border-radius: 15px;

  object-fit: cover;
  object-position: center;
}